:root{
    --TIME:.2s;
    --BACK1:#141e30;
    --BACK2:#243b55;
}


body{
    margin: 0px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,var(--BACK1),var(--BACK2));
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.BOARD{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3,calc(500px/3));
    grid-template-rows: repeat(3,calc(500px/3));
    position: relative;
}







.ROTATE{
  background-color: transparent;
  font-size: 20px;
  border: 0px;
  color: white;
  z-index: 1;
  position: absolute;
  font-size: 70px;
}

.ROTATE:hover{
  animation: ROTATEBUTTON 2s linear infinite;
}

@keyframes ROTATEBUTTON {
  0%{  transform: rotateZ(360deg);}
  100%{  transform: rotateZ(-0deg);}
}




.BOARD div{
    display: flex;
    justify-content: center;
    align-items: center;
}



.BOARD div img{
    width: 100%;
    height: 100%;
}
.SCORES{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 50px;
    color:white;
    font-size: 25px;
}




.MOVEMENT1{
    animation: MOVEMENT1 var(--TIME) ease-in-out forwards;
  }
  
  @keyframes MOVEMENT1{
    0%{transform: rotate(0deg)}
    100%{  transform: rotate(90deg)}
  }
  
  .MOVEMENT2{
    animation: MOVEMENT2 var(--TIME) ease-in-out forwards;
  }

  @keyframes MOVEMENT2{
    0%{transform: rotate(90deg)}
    100%{  transform: rotate(180deg)}
  }
  .MOVEMENT3{
    animation: MOVEMENT3 var(--TIME) ease-in-out forwards;
  }
  
  @keyframes MOVEMENT3{
    0%{transform: rotate(180deg)}
    100%{  transform: rotate(270deg)}
  }
  
  
  .MOVEMENT4{
    animation: MOVEMENT4 var(--TIME) ease-in-out forwards;
  }
  
  @keyframes MOVEMENT4{
    0%{transform: rotate(270deg)}
    99%{transform: rotate(360deg)}
    100%{  transform: rotate(0deg)}
  }

.WINNER{
  animation: WINNER .5s ease-in-out backwards;
}



@keyframes WINNER {
  0%{transform: rotateY(-90deg)}
  100%{transform: rotateY(0deg)}
}


